[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
autopep8 = "*"
flake8 = "*"
flake8-isort = "*"
isort = "*"
pytest = "*"
pytest-cov = "*"
pytest-server-fixtures = "*"
exceptiongroup = "*"
black="*"

[packages]
future = "*"
python-dateutil = "*"
rethinkdb = ">=2.4.8"

[requires]
python_version = "3"

[scripts]
test = "pytest --cov rethinkdb_mock -vv"
test_live = "pytest --cov rethinkdb_mock -vv -x --run rethink"
last_live = "pytest --cov rethinkdb_mock -vv -x --run rethink --last-failed"
isort = "isort ."
lint = "python -m flake8 rethinkdb_mock"
format = "black rethinkdb_mock"
