[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
flake8 = "*"
flake8-isort = "*"
isort = "*"
pytest = "*"
pytest-cov = "*"
pytest-server-fixtures = "*"

[packages]
future = "*"
python-dateutil = "*"
rethinkdb = ">=2.4.8"

[requires]
python_version = "3.9"

[scripts]
test = "pytest --cov rethinkdb_mock -vv"
isort = "isort ."
lint = "flake8 ."
